body{
    margin: 6vh 0vw 0vh 0vh;
    padding: auto;
    
 }

 /* navbar */
 
#navbar{
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color:white ;
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 5vh;

}


#navbar ul li  .blue{
    color: blue;
}
#navbar ul li  .blue:hover{
    color: blue;
}

#navbar .simplyRecipes{
    margin-left: 1vw;
    margin-right: -1.5vw;
}

#navbar ul{

    display: flex;
    
    
}
#navbar ul li{

   padding: 10px 15px;
   font-size: 1.3rem;
   list-style-type: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#navbar ul li a{
    text-decoration-line: none;
    color: black;
   padding: 10px 15px;

}




#navbar ul li a:hover{
    background-color: gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
   padding: 10px 15px;

    }


    #navbar .btn a{
        margin-left: 31vw;
        color: white;
        background-color: blueviolet;
        border: none;
        border-radius: 5px;
        padding: 10px 30px;
        cursor: pointer;
        font-size: 1rem;
        text-decoration-line: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    
        #navbar .btn a:hover{
            
            padding: 12px 32px;
            background-color: blue;
            transition: 200ms;
            
            
         }

     #tabs {
     display: grid;
     grid-template-columns: repeat(3,1fr);
     margin-left: 3vw;
     margin-right: 2vw;
     margin-bottom: 35.3vh; 
     /* height: 100%; */
    }

     #tabs div{
        background-color: rgb(99, 112, 138);
        width: 350px;
        height: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px 10px;
        
     }

     #tabs div h3{
        /* transform: translateY(-30px); */
        margin: 0px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     }

     #tabs div h4{
        margin: 0px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 200;
     }



     /* footer */
footer{
    background:black;
    color: white;
    padding: 15px 15px;
    align-items: center;
    text-align: center;
    /* position: absolute; */
    /* width: 100%; */
    bottom: 0px;
    
}